<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Encryption</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  
</head>
<body>

 {% include "navbar.html" %}

  <div class="wrapper">
    <header>Upload File</header>
    
    <!-- File Upload Form -->
    <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
      <input class="file-input" type="file" name="file" hidden>
      <i class="fas fa-cloud-upload-alt"></i>
      <p>Browse File to Upload</p>
    </form>

    <!-- Section to show upload progress -->
    <section class="progress-area"></section>
    
    <!-- Section to show uploaded file status -->
    <section class="uploaded-area"></section>
  </div>

  <script src="/static/script.js"></script>
</body>
</html>
